.monitor-details-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
  gap: 10px;
  height: 100%;
}

/* The card that reads "All monitors are up" and such */
.monitor-details-header-card {
  flex: 0 0 50px; /* Fixed height */
  padding-top: 0;
  padding-bottom: 0;
  /* background-color: var(--status-unknown-color-300); */
  /* color: var(--status-unknown-color-800); */
  position: relative; /* For absolute positioning of the title and count */
  user-select: none;
  cursor: default;
}

.monitor-details-header-card .card-content {
  /* Center and distribute contents */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.monitor-details-title {
  font-size: larger;
  /* trim overflow and display ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.monitor-actions-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 6px;
  /* align-items: center; */
  /* flex: 1 1 auto; */
  /* padding-right: 10px; */
}

.monitor-action-link {
  cursor: pointer;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 5px;
}

.monitor-action-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.monitor-action-link:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.monitor-details-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Distribute children evenly with equal spacing */
  align-items: center; /* Align items vertically in the center */
  width: 100%; /* Ensure the container takes up the full width */
  gap: 15px; /* Space between children */
  cursor: default;
}

/* The cards directly inside the stats container */
.monitor-details-stats-container > * {
  flex: 1; /* Each child takes up an equal portion of the available width */
  text-align: center; /* Optional: Center the content of each child */
  overflow: hidden;
  height: 90px;
  padding: 0;
}

.monitor-details-duration .stat-card-value-text {
  font-size: 1rem;
}

.monitor-details-stats-container .card-content {
  height: 100%;
  position: relative;
  color: var(--text-color-600);
}

.stat-card-value-text {
  font-size: 1.5rem;
  /* fully center in parent */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stat-card-label {
  /* bottom-right corner */
  position: absolute;
  right: 12px;
  bottom: 8px;
  font-size: 0.8rem;
  /* make less opaque */
  opacity: 0.5;
}

.monitor-details-chart {
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px solid var(--light-border-color);
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.monitor-details-chart-x-axis {
  display: flex;
  justify-content: space-between; /* Push items to left and right */
  align-items: center;
  padding-top: 3px;
}

.monitor-details-chart-bar {
  flex: 1 1 auto;
}

.monitor-details-chart-tooltip {
  position: absolute;
  background-color: var(--background-light-color);
  border: 1px solid var(--light-border-color);
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  /* Make this NOT capture mouse events, so the mouseleave event can be triggered */
  pointer-events: none;

  text-wrap: nowrap;
  transition: opacity 0.15s ease;
}

.monitor-details-logs-container {
  flex: 1; /* Fill the remaining space */
  overflow-y: hidden;
  display: flex; /* Optional: Flex layout for inner content if needed */
  flex-direction: column; /* Keep logs stacked vertically */
}

.monitor-details-logs-container .card-content {
  overflow-y: auto; /* Allow scrolling INTERNALLY to look at log entries */
  font-family: "Courier New", monospace;
  /* font-weight: 300; */
  color: var(--text-color-800);
  margin-top: 0.5rem;
  margin-right: calc(-1 * var(--card-padding)); /* To "counter" the card's padding and have the scrollbar at the right edge */
}
