/* .monitors-list {

} */

.monitor-list-item {
  height: 2rem;
  /* width: 100%; */
  /* color: var(--accent-color); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Align the elements to the edges */
  margin-left: calc(-1 * var(--card-padding)); /* Compensate for the padding */
  margin-right: calc(-1 * var(--card-padding)); /* Compensate for the padding */
  box-sizing: border-box;

  user-select: none;
  cursor: default;
}

.monitor-list-item:hover {
  /* Use a very light version of the accent color */
  background-color: color-mix(in srgb, var(--accent-color-hover), var(--background-light-color) 90%);
}

.monitor-list-item:active {
  /* Use a very light version of the accent color */
  background-color: color-mix(in srgb, var(--accent-color-active), var(--background-light-color) 85%);
}

.monitor-list-item-status-indicator {
  width: 1.5rem;
  flex-shrink: 0; /* Prevents the element from shrinking */
  flex-grow: 0; /* Prevents the element from growing */
  height: 1rem;
  border-radius: 0.4rem;
  background-color: var(--status-unknown-color);
  margin-left: 0.7rem;
  background-color: var(--status-unknown-color);
}

.monitor-list-item-status-indicator[data-status="up"] {
  background-color: var(--status-good-color);
}

.monitor-list-item-status-indicator[data-status="down"] {
  background-color: var(--status-bad-color);
}

.monitor-list-item-label {
  margin-left: 0.7rem;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden; /* Hides any text that overflows */
  text-overflow: ellipsis; /* Displays an ellipsis (...) for truncated text */
}

.monitor-list-item-history {
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  margin-right: 0.7rem;
}

.monitor-list-item-history-bar {
  height: 90%;
  width: 0.3rem;
  border-radius: 0.2rem;
  background-color: var(--status-no-data-color);
}

.monitor-list-item-history-bar[data-status="up"] {
  background-color: var(--status-good-color);
}

.monitor-list-item-history-bar[data-status="down"] {
  background-color: var(--status-bad-color);
}
