@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/Inter-VariableFont_opszwght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --accent-color: #41b445;
  --accent-color-hover: #56ca5a;
  --accent-color-active: #4caf50;
  --accent-light-color: #cdeace;
  --accent-light-color-hover: #bdeabf;
  --accent-light-color-active: #acd0ae;
  --secondary-color: #555;
  --secondary-color-hover: #666;
  --secondary-color-active: #444;
  --tertiary-color: #9b9b9b;
  --tertiary-color-hover: #b5b5b5;
  --tertiary-color-active: #9d9d9d;
  --background-fullbright-color: #ffffff;
  --background-light-color: #f4f4f4;
  --background-light-color-hover: #e9e9e9;
  --background-light-color-active: #dfdfdf;
  --background-dark-color: #333;
  --nav-background-color: #333;
  --nav-hover-color: #444444;
  --nav-active-color: #393939;
  --extra-light-border-color: rgba(0, 0, 0, 0.08);
  --light-border-color: rgba(0, 0, 0, 0.2);
  --text-color-100: rgb(244, 244, 244);
  --text-color-200: color-mix(in srgb, var(--text-color-100), var(--text-color-500) 25%);
  --text-color-300: color-mix(in srgb, var(--text-color-100), var(--text-color-500) 50%);
  --text-color-400: color-mix(in srgb, var(--text-color-100), var(--text-color-500) 75%);
  --text-color-500: rgb(120, 120, 120);
  --text-color-600: color-mix(in srgb, var(--text-color-500), var(--text-color-900) 25%);
  --text-color-700: color-mix(in srgb, var(--text-color-500), var(--text-color-900) 50%);
  --text-color-800: color-mix(in srgb, var(--text-color-500), var(--text-color-900) 75%);
  --text-color-900: rgb(20, 20, 20);

  /* Status colors */
  /* Each are defined by their 100 (lightest) to 500 (middle) to 900 (darkest) variants */
  /* No data : neutral status. Things like "this monitor hasn't even run yet" */
  --status-no-data-color-100: rgb(231, 231, 231);
  --status-no-data-color-200: color-mix(in srgb, var(--status-no-data-color-100), var(--status-no-data-color-500) 25%);
  --status-no-data-color-300: color-mix(in srgb, var(--status-no-data-color-100), var(--status-no-data-color-500) 50%);
  --status-no-data-color-400: color-mix(in srgb, var(--status-no-data-color-100), var(--status-no-data-color-500) 75%);
  --status-no-data-color-500: rgb(135, 135, 135);
  --status-no-data-color-600: color-mix(in srgb, var(--status-no-data-color-500), var(--status-no-data-color-900) 25%);
  --status-no-data-color-700: color-mix(in srgb, var(--status-no-data-color-500), var(--status-no-data-color-900) 50%);
  --status-no-data-color-800: color-mix(in srgb, var(--status-no-data-color-500), var(--status-no-data-color-900) 75%);
  --status-no-data-color-900: rgb(54, 54, 54);

  /* Unknown : things like exceptions and unecpected results / data, but NOT for monitors that are explicitly down */
  --status-unknown-color-100: rgb(255, 229, 174);
  --status-unknown-color-200: color-mix(in srgb, var(--status-unknown-color-100), var(--status-unknown-color-500) 25%);
  --status-unknown-color-300: color-mix(in srgb, var(--status-unknown-color-100), var(--status-unknown-color-500) 50%);
  --status-unknown-color-400: color-mix(in srgb, var(--status-unknown-color-100), var(--status-unknown-color-500) 75%);
  --status-unknown-color-500: rgb(213, 142, 10);
  --status-unknown-color-600: color-mix(in srgb, var(--status-unknown-color-500), var(--status-unknown-color-900) 25%);
  --status-unknown-color-700: color-mix(in srgb, var(--status-unknown-color-500), var(--status-unknown-color-900) 50%);
  --status-unknown-color-800: color-mix(in srgb, var(--status-unknown-color-500), var(--status-unknown-color-900) 75%);
  --status-unknown-color-900: rgb(92, 60, 0);

  /* Good : e.g. monitor up */
  --status-good-color-100: rgb(204, 255, 204);
  --status-good-color-200: color-mix(in srgb, var(--status-good-color-100), var(--status-good-color-500) 25%);
  --status-good-color-300: color-mix(in srgb, var(--status-good-color-100), var(--status-good-color-500) 50%);
  --status-good-color-400: color-mix(in srgb, var(--status-good-color-100), var(--status-good-color-500) 75%);
  --status-good-color-500: rgb(11, 142, 11);
  --status-good-color-600: color-mix(in srgb, var(--status-good-color-500), var(--status-good-color-900) 25%);
  --status-good-color-700: color-mix(in srgb, var(--status-good-color-500), var(--status-good-color-900) 50%);
  --status-good-color-800: color-mix(in srgb, var(--status-good-color-500), var(--status-good-color-900) 75%);
  --status-good-color-900: rgb(0, 90, 0);

  /* Bad : e.g. monitor down */
  --status-bad-color-100: rgb(255, 204, 204);
  --status-bad-color-200: color-mix(in srgb, var(--status-bad-color-100), var(--status-bad-color-500) 25%);
  --status-bad-color-300: color-mix(in srgb, var(--status-bad-color-100), var(--status-bad-color-500) 50%);
  --status-bad-color-400: color-mix(in srgb, var(--status-bad-color-100), var(--status-bad-color-500) 75%);
  --status-bad-color-500: rgb(226, 59, 59);
  --status-bad-color-600: color-mix(in srgb, var(--status-bad-color-500), var(--status-bad-color-900) 25%);
  --status-bad-color-700: color-mix(in srgb, var(--status-bad-color-500), var(--status-bad-color-900) 50%);
  --status-bad-color-800: color-mix(in srgb, var(--status-bad-color-500), var(--status-bad-color-900) 75%);
  --status-bad-color-900: rgb(90, 0, 0);

  /* Others*/
  --card-padding: 20px;
  --card-border-radius: 3px;
  --default-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Reset some basic styles */
body,
html {
  /* font-family: Arial, sans-serif; */
  font-family: "Inter", sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-light-color);
  overflow-x: hidden;
}

/* Full page area, including the navbar and the content */
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navigation bar */

.navbar {
  align-items: center; /* Vertically center */
  background-color: var(--background-dark-color);
  height: 45px;
  font-size: 1.2rem;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  box-shadow: var(--default-shadow);
}

.nav-title-label {
  font-size: xx-large;
  color: var(--accent-color);
  margin: 0 20px;
}

/* Top navigation bar "buttons" */
.navbar a {
  margin: 0 10px;
  color: var(--text-color-300);
  text-decoration: none;
  padding: 15px 20px;
}

.navbar a:hover {
  background-color: var(--nav-hover-color);
}

.navbar a:active {
  background-color: var(--nav-active-color);
}

/* Main content area */
.content {
  flex: 1; /* Fill the remaining space */
  display: flex; /* To size the children elements automatically */
  flex-direction: column;
  overflow: auto; /* Allow for scrolling IF content doesn't already limits it ?*/
  max-height: 100%;
  max-width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* "Tiles" layout on the dashboard */
.horizontal-flex-container {
  flex-basis: 100%;
  display: flex;
  /* gap: 1rem; */
  margin: 20px auto;
  padding: 0 40px;
  max-width: 1600px;
  overflow: visible;
  min-height: 0; /* Needs any defined height to prevent content from defining it */
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* For pages like "about" or "settings" that have a single column layout */
.single-column-content-layout {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 1600px;
  overflow: visible;
  min-height: 0;
  max-height: 100%;
  width: 70%;
  gap: 20px;
}

.horizontal-flex-container .left-column {
  display: flex;
  flex-direction: column;
  overflow: visible;
  flex: 0 0 35%;
}

.horizontal-flex-container .right-column {
  display: flex;
  flex-direction: column;
  overflow: visible;
  flex: 0 0 65%;

  /* "gap" that works automatically in the flexbox */
  padding-left: 1rem;
  box-sizing: border-box;
}

.card {
  background-color: var(--background-fullbright-color);
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--extra-light-border-color);
  border-radius: var(--card-border-radius);
  animation: fadeIn 0.2s ease-out;

  box-shadow: var(--default-shadow);
}

.card-title {
  background-color: var(--tertiary-color);
  padding: 8px 8px 7px 22px;
  font-size: 1.2rem;
  color: var(--text-color-100);
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0; /* Match the card's border-radius for the top corners */

  /* To allow for buttons to be on the same line when present */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  padding: var(--card-padding);
  font-size: 1rem;
  color: var(--text-color-500);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--card-border-radius);
}

.card-title-button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 2px 5px;
  min-width: 30px;
  text-align: center;
  border-radius: 5px;
  user-select: none;
  height: 100%;
  margin: -8px 0;
}

.card-title-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-title-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.monitors-list {
  margin-top: -12px; /* Compensate for the card content padding at the top */
}

/* 
******************************************************************************
Utility classes
******************************************************************************
*/
.display-none {
  display: none;
}

.height-100 {
  height: 100%;
}

.invisible {
  visibility: hidden;
}

.no-events {
  pointer-events: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-100 {
  opacity: 1;
}

.flex-row-baseline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.color-by-status,
.color-by-status .card-content {
  background-color: var(--status-no-data-color-300);
  color: var(--status-no-data-color-800);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.color-by-status[data-status="up"],
.color-by-status[data-status="up"] .card-content {
  background-color: var(--status-good-color-300);
  color: var(--status-good-color-800);
}

.color-by-status[data-status="down"],
.color-by-status[data-status="down"] .card-content {
  background-color: var(--status-bad-color-300);
  color: var(--status-bad-color-800);
}

.color-by-status[data-status="error"],
.color-by-status[data-status="error"] .card-content,
.color-by-status[data-status="unknown"],
.color-by-status[data-status="unknown"] .card-content {
  background-color: var(--status-unknown-color-300);
  color: var(--status-unknown-color-800);
}

.text-color-by-status,
.text-color-by-status .card-content {
  color: var(--status-no-data-color-800);
}

.text-color-by-status[data-status="up"],
.text-color-by-status[data-status="up"] .card-content {
  color: var(--status-good-color-800);
}

.text-color-by-status[data-status="down"],
.text-color-by-status[data-status="down"] .card-content {
  color: var(--status-bad-color-800);
}

.text-color-by-status[data-status="error"],
.text-color-by-status[data-status="error"] .card-content,
.text-color-by-status[data-status="unknown"],
.text-color-by-status[data-status="unknown"] .card-content {
  color: var(--status-unknown-color-800);
}

.validation-error {
  background-color: var(--status-bad-color-200);
}

.validation-error-message {
  color: var(--status-bad-color-800);
}

/* Overlay covering the entire document, e.g. for spinner overlay */
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Spinner animation */
/* .spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
} */

/* Keyframe for spinner rotation */
/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-0.3deg);
  }
  75% {
    transform: rotate(0.3deg);
  }
}

.shake-animation {
  animation: shake 0.15s ease-in-out;
  animation-iteration-count: 3;
}
