<!--
This section represents the right column on the homepage, displaying an overview.
-->
<div class="card summary-card">
  <div class="card-content">
    <div class="summary-card-title">Unknown monitor status...</div>
    <div class="summary-card-count">? / ? / ?</div>
    <div class="summary-card-count-label">Up / Down / Unknown</div>
  </div>
</div>
<div class="card recent-events-card">
  <div class="card-title">Recent Events</div>
  <div class="card-content">
    <div class="recent-events"></div>
  </div>
</div>
