<div class="card monitor-details-header-card">
  <div class="card-content">
    <div class="monitor-details-title">Monitor Name Goes Here</div>
    <div class="monitor-actions-container">
      <span class="monitor-action-link" data-action="execute">↺ Check Now</span>
      <span class="monitor-action-link" data-action="pause">❙❙ Pause</span>
      <span class="monitor-action-link" data-action="edit">✎ Edit</span>
      <span class="monitor-action-link" data-action="duplicate">⧉ Duplicate</span>
      <span class="monitor-action-link" data-action="delete">✕ Delete</span>
    </div>
  </div>
</div>
