<!--
This section represents the right column of the screen that appears when you click on a monitor.
-->
<div class="monitor-details-column">
  <!-- Title and main actions card -->
  <div class="monitor-header-card-container"></div>

  <!-- A row of 4 cards with key stats -->
  <div class="monitor-details-stats-container">
    <div class="card monitor-details-status color-by-status">
      <div class="card-content">
        <div class="stat-card-value-text">UP</div>
        <div class="stat-card-label">Status</div>
      </div>
    </div>
    <div class="card monitor-details-duration color-by-status">
      <div class="card-content">
        <div class="stat-card-value-text">0s</div>
        <div class="stat-card-label">Last Change</div>
      </div>
    </div>
    <div class="card monitor-details-uptime">
      <div class="card-content">
        <div class="stat-card-value-text">0%</div>
        <div class="stat-card-label">7-days uptime</div>
      </div>
    </div>
    <div class="card monitor-details-latency">
      <div class="card-content">
        <div class="stat-card-value-text">0ms</div>
        <div class="stat-card-label">Avg latency</div>
      </div>
    </div>
  </div>

  <!-- Chart card -->
  <div class="card monitor-details-chart-container">
    <div class="card-title">Availability History</div>
    <div class="card-content">
      <div class="monitor-details-chart">
        <div class="monitor-details-chart-empty display-none">No data available</div>
      </div>
      <div class="monitor-details-chart-x-axis">
        <div class="monitor-details-chart-left-time"></div>
        <div class="monitor-details-chart-right-time"></div>
      </div>
      <div class="monitor-details-chart-tooltip opacity-0">
        <div class="monitor-details-chart-tooltip-time">Time:</div>
        <div class="monitor-details-chart-tooltip-status">Status:</div>
        <div class="monitor-details-chart-tooltip-started">Since:</div>
        <div class="monitor-details-chart-tooltip-message"></div>
      </div>
    </div>
  </div>

  <!-- Monitor-specific logs -->
  <div class="card monitor-details-logs-container">
    <div class="card-title">Monitor Events Log</div>
    <div class="card-content">
      <div class="recent-events"></div>
    </div>
  </div>
</div>
