<!--
This section represents the right column of the screen that appears when you click on a monitor.
-->
<div class="monitor-details-column">
  <!-- Title and main actions card -->
  <div class="card monitor-details-header-card color-by-status">
    <div class="card-content">
      <div class="monitor-details-title">Monitor Name Goes Here</div>
      <div class="monitor-actions-container">
        <span class="monitor-action-link" data-action="pause">❙❙ Pause</span>
        <span class="monitor-action-link" data-action="edit">✎ Edit</span>
        <span class="monitor-action-link" data-action="duplicate">❐ Duplicate</span>
        <span class="monitor-action-link" data-action="delete">✕ Delete</span>
      </div>
    </div>
  </div>

  <!-- A row of 4 cards with key stats -->
  <div class="monitor-details-stats-container">
    <div class="card monitor-details-status color-by-status">
      <div class="card-content">
        <div class="stat-card-value-text">UP</div>
        <div class="stat-card-label">Status</div>
      </div>
    </div>
    <div class="card monitor-details-duration color-by-status">
      <div class="card-content">
        <div class="stat-card-value-text">0s</div>
        <div class="stat-card-label">Since</div>
      </div>
    </div>
    <div class="card monitor-details-uptime">
      <div class="card-content">
        <div class="stat-card-value-text">0%</div>
        <div class="stat-card-label">7-days uptime</div>
      </div>
    </div>
    <div class="card monitor-details-latency">
      <div class="card-content">
        <div class="stat-card-value-text">0ms</div>
        <div class="stat-card-label">Avg latency</div>
      </div>
    </div>
  </div>

  <!-- Chart card -->
  <div class="card monitor-details-chart-container">
    <div class="card-title">Timeline</div>
    <div class="card-content">
      <div class="monitor-details-chart">To be implemented</div>
    </div>
  </div>

  <!-- Monitor-specific logs -->
  <div class="card monitor-details-logs-container">
    <div class="card-title">Monitor Events</div>
    <div class="card-content">
      <div class="monitor-details-logs">To be implemented</div>
    </div>
  </div>
</div>
